<div class="banner-place">
{if $banner.type eq 'image'}<img src="{$banner.content}">{/if}
{if $banner.type eq 'popup'}<img style='width:{$banner.width}; height:{$banner.height}' src="{$banner.content}">{/if}
{if $banner.type eq 'swf'}<embed align="top" width="{$banner.width}" height="{$banner.height}" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" loop="true" play="true" allowscriptaccess="always" swliveconnect="FALSE" quality="high" wmode="opaque" flashvars="{$banner.flashvars}" menu="false" src="{$banner.content}">{/if}
{if $banner.type eq 'text'}{$banner.content}{/if}
</div>