

<div class="top_line">

{if $breadcrumbs_block}
<ul class="breadcrumb">
	{foreach from=$breadcrumbs_block->get() item=item name="brc"}
		{if !$smarty.foreach.brc.last}
  			<li><a href="{$item.url}">{$item.name|strip_tags}</a> <span class="divider">/</span></li>
  		{else}
  			<li class="active">{$item.name|strip_tags}</li>
  		{/if}
  	{/foreach}
</ul>
{/if}

<div style="top: 7px; left: 20px; font-size: 15px; width: 200px;   position: absolute;"><a style="color: #999; font-size: 18px; " href="/">CNB.CNEWS.RU</a></div>


</div>
<div style="clear:both;"></div>
