<table cellspacing="0" class="timetable">
    <tbody>
    <tr>
        <td class="checkbox"><label><input type="checkbox" value="1" name="value[{$id}][]"> Понедельник</label></td>
        <td class="checkbox"><label><input type="checkbox" value="2" name="value[{$id}][]"> Вторник</label></td>
        <td class="checkbox"><label><input type="checkbox" value="3" name="value[{$id}][]"> Среда</label></td>
        <td class="checkbox"><label><input type="checkbox" value="4" name="value[{$id}][]"> Четверг</label></td>
        <td class="checkbox"><label><input type="checkbox" value="5" name="value[{$id}][]"> Пятница</label></td>
        <td class="checkbox"><label><input type="checkbox" value="6" name="value[{$id}][]"> Суббота</label></td>
        <td class="checkbox"><label><input type="checkbox" value="7" name="value[{$id}][]"> Воскресенье</label></td>
    </tr>
    </tbody>
</table>