<select class="input-xxlarge" name="value[{$key}]">
    <option {if $setting.value eq 0}selected{/if} value="0">Нет</option>
    <option {if $setting.value eq 1}selected{/if} value="1">Да</option>
</select>