{literal}
$(document).ready(function() {
    $('.popup .close, .overlay').click(function() {
       $('.overlay, .popup').hide();
    })
});
document.write('<style type="text/css">');
document.write('.overlay {display:block; position:fixed; z-index:999; opacity:0.5; filter:alpha(opacity=50); top:0; right:0; left:0; bottom:0; background:#000; }');
document.write('.popup { display:block; position:fixed; border:3px solid #999; background:#fff; top:50%; left:50%; z-index:1000;  border-radius:10px; padding:25px 5px 2px 5px;} ');
document.write('.close { width:20px; text-align:center; cursor:pointer;  background:#fff; position:absolute; top:2px; right:4px; text-decoration:none; border-radius:3px; font-size:20px; }');
document.write('</style>');
{/literal}
document.write('<div class="overlay"></div><div {if isset($margin)} style="margin-left:-{$margin.left}px; margin-top: -{$margin.top}px;"{/if} class="popup" id="popup1"><span class="close"><img src="http://test.zoom.cnews.ru/soft/inc/images/del.png"></span><a {if $banner.is_blank}target="_blank"{/if} href="http://test.zoom.cnews.ru/soft/click/?zone={$zone.id}&banner={$banner.id}&goto={$banner.link}"><img src="{$banner.content}"></a></div>');
