<style type="text/css">
.cnb_popup_overlay {display:block; position:fixed; z-index:99999; opacity:0.5; filter:alpha(opacity=50); top:0; right:0; left:0; bottom:0; background:#000; }
.cnb_popup { display:block; position:fixed; border:3px solid #999; background:#fff; top:50%; left:50%; z-index:100000; border-radius:10px; padding:39px 5px 2px 5px; }
.cnb_popup_close { width:20px; text-align:center; cursor:pointer;  background:#fff; position:absolute; top:8px;  text-decoration:none; border-radius:3px; font-size:12px; color:#5d5d5d; }
.cnb_popup_close_right {  right:15px; } .close_left { left:4px; }
.cnb_popup_close_text { position:absolute; left:8px;  width:130px; background:#fff; top:13px; cursor:pointer; text-decoration:none; border-radius:3px; font-size:12px; color:#5d5d5d; }
</style>
