div, header, nav, section, article, aside, footer {zoom:1;}
.more, .list_more a, .comment_number, .reviews_list a, .bx-prev, .bx-next, .show, .article, .article_outer article a, .footer_inner,
.main_menu .sub, .stick_logo, .header, .sub_menu,
.down, .link, .attention, .attention1, .link_all, .link_all1, .section_menu a, .param_extra_name, 
.tabs_item, .section_menu, .form_navig, .form_comment, .clearfix {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('beforeEnd','<span class="after"></span>')) !important;}
.main_content {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('afterEnd','<div class="cl"></div>')) !important;}
.section_menu ul {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('beforeEnd','<li class="after"></li>')) !important;}
.section_menu li {//width:49.99%;}


.list_style1 li, .title_section, .auth, .project_games, .project_sience, .project_soft, .project_tech,
.list_style li, .attention, .attention1, .link_print , li.active {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('afterBegin','<span class="before"></span>')) !important;}
.project_menu li {//width:24.9%;}
.project_menu a { border-left: 1px solid #e9ebee; border-right:0; //padding-top:0; //padding-bottom:10px;}
.project_menu a.project_tech .before {zoom:1; //margin-top:22px;}
.project_menu a.project_games .before {zoom:1; //margin-top:21px;}
.project_menu a.project_soft .before {zoom:1; //margin-top:20px;}
.project_menu a.project_sience .before {zoom:1; //margin-top:17px;}

.product_images li, .form_comment textarea, .section_new_text, .jq-file__name, .jq-selectbox__dropdown, .jq-selectbox__search input, .jq-select-multiple {behavior: url(css/boxsizing.htc);} 

.section_news .section_new_text, .section_news .section_new_text {filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc494f5c,endColorstr=#cc494f5c);}
.games .section_news li:hover .section_new_text { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cce82642,endColorstr=#cce82642);}
.sience .section_news li:hover .section_new_text, .section_main li:hover .section_new_text { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc00a782,endColorstr=#cc00a782); }
.soft .section_news li:hover .section_new_text { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc04aaeb,endColorstr=#cc04aaeb); }
.tech .section_news li:hover .section_new_text { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccff6600,endColorstr=#ccff6600); }

.section_news_items li, .section_news_items a {//display:block; //zoom:1;}
.comment_number {position:relative; //display:inline;}
.news_info .comment_number {//left:12px; top:2px;}
.jq-checkbox, .jq-selectbox {//display:inline !important;}
.sort_up > .after, .sort_down > .after {//display:inline !important;}
.search_text {//margin-top:0 !important;}

.sidebar {//padding-right:1px;}
.jq-selectbox select {display:none;}

.articles li {display:inline;}