 div, header, footer, figure, article{zoom:1;}
.show_all, .title, .title2 {zoom:0;}
.top_block, .project_menu, .footer_menu, .main_content, .wrapper_content, .column_three, .article_main, .article_line article,  .article_action  {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('beforeEnd','<div class="after"></div>')) !important;}
.list_style li, .submenu a, #partnerNewsContent li  {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('afterBegin','<span class="before"></span>')) !important;}
.footer_menu li  {//zoom: expression(runtimeStyle.zoom = 1,	insertAdjacentHTML('afterBegin','<span class="before"> | </span>')) !important;}
.footer_menu li .before {margin:0 2px;}

.container {overflow:hidden; position:relative; padding:0 2px;} 

nav ul {display:block;}
nav li {display:block; float:left;}
nav li li {float:none;}

.gallery_block {position:relative; zoom:0;}

.article_main {width:100%; position:relative; zoom:1;}