@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,300,100&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic);
.icon-sprite, .more:after, .more > .after, .list_more a:after, .list_more a > .after, .section_title .more:after, .section_title .more > .after, .section_title .list_more a:after, .section_title .list_more a > .after, .down:after, .down > .after, .breadcrumbs .separ, .list_style li:before, .list_style li > .before, .link:after, .link > .after, .link.roll:after, .link.roll > .after, .link.minimize:after, .link.minimize > .after, .link_print:before, .link_print > .before, .attention:before, .attention > .before, .attention:after, .attention > .after, .attention1:before, .attention1 > .before, .attention1:after, .attention1 > .after, .link_all:after, .link_all > .after, .link_all1:after, .link_all1 > .after, .stick_tech, .stick_games, .stick_soft, .stick_sience, .stick_logo:after, .stick_logo > .after, .main_menu .sub:after, .main_menu .sub > .after, .sub_menu li.active a:before, .sub_menu li.active a > .before, .section_menu a:after, .section_menu a > .after, .param_extra_name:after, .param_extra_name > .after, .param_extra_name.open:after, .param_extra_name.open > .after, .close, .lb-nav a.lb-prev:after, .lb-nav a.lb-prev > .after, .lb-nav a.lb-next:after, .lb-nav a.lb-next > .after, .lb-data .lb-close, .focus_list a:after, .focus_list a > .after, .focus_slider .bx-prev, .focus_slider .bx-prev:hover, .focus_slider .bx-next, .focus_slider .bx-next:hover, .slider_main .bx-prev:after, .slider_main .bx-prev > .after, .slider_main .bx-next:after, .slider_main .bx-next > .after, .list_outer .show:after, .list_outer .show > .after, .list_outer .bx-next:after, .list_outer .bx-next > .after, .list_outer .show:hover:after, .list_outer .show:hover > .after, .list_outer .bx-next:hover:after, .list_outer .bx-next:hover > .after, .games .title_section:before, .games .title_section > .before, .sience .title_section:before, .sience .title_section > .before, .soft .title_section:before, .soft .title_section > .before, .tech .title_section:before, .tech .title_section > .before, .comment_number:after, .comment_number > .after, .comment_number:hover:after, .comment_number:hover > .after, .section_news .bx-next:after, .section_news .bx-next > .after, .section_news_list .comment_number:after, .section_news_list .comment_number > .after, .section_main .comment_number:after, .section_main .comment_number > .after, .icon-android, .sidebar_menu li.active a:before, .sidebar_menu li.active a > .before, .comment_number_big:after, .comment_number_big > .after, .comment_text:before, .comment_text > .before, .jq-checkbox, .jq-checkbox.checked, .jq-radio, .jq-selectbox__trigger-arrow, .icon-arr_dark, .icon-arr_down, .icon-arr_down1, .icon-arr_down2, .icon-arr_right, .icon-arr_right1, .icon-arr_right2, .icon-arr_right_orange, .icon-arr_up, .main_menu .sub:hover:after, .main_menu .sub:hover > .after, .icon-arr_up1, .icon-arr_up2, .icon-attention, .icon-attention1, .icon-auth, .auth:before, .auth > .before, .icon-btn_next, .icon-btn_prev, .icon-checkbox, .icon-checkbox_checked, .icon-close, .icon-close1, .icon-compare, .icon-corner, .icon-corner_comment, .icon-corner_green, .article a:hover .comment_number:after, .article a:hover .comment_number > .after, .icon-corner_green_big, .icon-corner_grey, .icon-games, .project_menu a.project_games:before, .project_menu a.project_games > .before, .icon-games_small, .icon-next, .icon-next_green, .icon-next_white, .icon-nick, .icon-prev, .icon-prev_green, .icon-print, .icon-radio, .icon-search, .search input[type="submit"], .icon-show, .icon-show1, .icon-sience, .icon-sience_small, .icon-sienceactive, .project_menu a.project_sience:before, .project_menu a.project_sience > .before, .icon-soft, .project_menu a.project_soft:before, .project_menu a.project_soft > .before, .icon-soft_small, .icon-stick_arr, .icon-tech, .project_menu a.project_tech:before, .project_menu a.project_tech > .before, .icon-tech_small, .icon-title_arr { background: url('../images/icon-sc0dd495e65.png') no-repeat; }

body { font-size: 13px; margin: 0; padding: 0px; background: white; color: #747780; font-family: 'Ubuntu', Arial, Tahoma, Verdana, sans-serif; }

/*---Global tags---*/
img { border: 0; max-width: 100%; }

form { padding: 0; margin: 0; }

a { color: #323742; outline: 0; text-decoration: none; }

a:hover { color: #00a782; text-decoration: underline; }

hr { border: 0px solid #7F7F7F; border-bottom: 1px solid #7F7F7F; }

h1 { font-size: 29.9px; margin: 0 0 20px; padding: 0; color: #494f5c; }

h2 { font-size: 17.94px; margin: 25px 0 22px; padding: 0; color: #323742; text-transform: uppercase; }

h5 { color: #494f5c; font-weight: bold; font-size: 13px; margin: 5px 0 6px; padding: 0; text-transform: uppercase; }
h5 a { color: #494f5c; }
h5 a:hover { color: #00a782; }

h6 { color: #323742; font-size: 13px; padding: 0; margin: 15px 0 15px; }

fieldset { padding: 0; border: none; border: 0px solid #000; margin: 0; }

table { border-collapse: collapse; }

textarea, input, select { font-family: 'Ubuntu', Arial, Tahoma, Verdana, sans-serif; }

header, nav, section, article, aside, footer { display: block; }

time { display: block; color: #898e98; font-size: 10.92px; }

.cl { clear: both; font-size: 0; }

.color { color: #494f5c; }

.mark { color: #00a782; }

.fleft { float: left; }

.fright { float: right; }

.fright.indent { margin-right: 15px; }

.right { text-align: right; }
.center { text-align: center; }

.nowrap { white-space: nowrap; }

.clearfix:after, .clearfix > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

/*--structure--*/
.container { max-width: 1200px; min-width: 990px; margin: 0 auto; padding-left: 5px; padding-right: 5px; }

.main_content { margin: 0 0 20px; }
.main_content:after, .main_content > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

.wrapper { width: 100%; float: left; clear: left; }

.content { margin-right: 299px; }

.content_inner { margin-right: 315px; }

.sidebar { float: right; width: 300px; margin-left: -300px; clear: right; overflow: hidden; position: relative; padding-bottom: 10px; }

.section_title { text-transform: uppercase; font-size: 19.76px; padding: 0 15px 10px 15px; color: #323742; font-weight: normal; font-family: 'Russo One', sans-serif; letter-spacing: 1px; height: 23px; overflow: hidden; margin-top: 10px; }

.st1 { background-color: #f4f5f6; }

.st2 { padding: 10px 0 20px 0; }

.more, .list_more a { color: #323742; text-decoration: none; }
.more:after, .more > .after, .list_more a:after, .list_more a > .after { content: ' '; display: inline-block; background-position: 0 -1011px; height: 12px; width: 12px; background-color: #00a782; margin-left: 14px; margin-right:-30px;}
.section_title .more:after, .section_title .more > .after, .section_title .list_more a:after, .section_title .list_more a > .after { background-position: 0 -279px; height: 14px; width: 14px; background-color: #00a782; }
.more:hover, .list_more a:hover { color: #00a782; text-decoration: underline; }

.down { color: #323742; text-decoration: none; }
.down:after, .down > .after { content: ' '; display: inline-block; background-position: 0 -416px; height: 11px; width: 11px; background-color: #00a782; margin-left: 14px; }

.section_more { background-color: #f4f5f6; font-size: 14.3px; font-weight: bold; text-transform: uppercase; padding: 10px 0 10px 15px; margin-bottom: 23px; }
.section_more .more { color: #00a782; }
.section_more .more:after, .section_more .more > .after { background-color: #757980; }

.section_sub_title { background-color: #f4f5f6; font-size: 14.3px; font-weight: normal; text-transform: uppercase; padding: 10px 0 10px 15px; color: #00a782; font-family: 'Russo One', sans-serif; }

/*--/structure--*/
/*---social---*/
.social { float: right; padding: 4px 15px 0 0; line-height: 18px; }
.social a { display: inline-block; margin-left: 2px; width: 18px; height: 18px; background-image: url(../images/social.png); }

.fb { background-position: 0 0; }

.vk { background-position: -23px 0; }

.tw { background-position: -46px 0; }

.od { background-position: -69px 0; }

/*---/social---*/
/*---breadcrumbs---*/
.breadcrumbs { font-size: 0.9em; margin: 0 0 22px; }
.breadcrumbs .separ { display: inline-block; background-position: 0 -1027px; height: 5px; width: 3px; margin: 0 10px; vertical-align: 1px; }
.breadcrumbs a { color: #00a782; }

/*---/breadcrumbs---*/
/*---pager---*/
.page { font-size: 18px; font-weight: bold; margin: 0 0 23px; padding: 15px 0 25px 15px; }
.page a { color: #00a782; margin: 0 6px 0 0; }
.page span, .page strong { margin: 0 6px 0 0; }
.page .prev { margin-right: 8px; }
.page .next { margin-left: 3px; }

/*---/pager---*/
/*---table style---*/
.table_style { background: #f0f2f5; margin: 15px 0; }

.table_style th { border: 1px solid #e6e8eb; color: #494f5c; padding: 8px 30px; }

.table_style td { border: 1px solid #e6e8eb; padding: 4px 30px; }

/*---/table style---*/
/*---list style---*/
.list_style { font-size: 11.7px; list-style-type: none; margin: 0; padding: 0 0 2px 24px; }
.list_style li { padding: 0 0 11px; }
.list_style li:before, .list_style li > .before { content: ' '; display: block; background-position: 0 -279px; height: 14px; width: 14px; background-color: #00a782; display: block; float: left; width: 14px; position: relative; left: -24px; margin-right: -14px; }
.list_style a { color: #757980; }

.list_style1 { list-style-type: none; margin: 0; padding: 0 0 2px 24px; }
.list_style1 li { padding: 0 0 10px; }
.list_style1 li:before, .list_style1 li > .before { background-color: #00a782; width: 4px; height: 4px; border-radius: 2px; content: ' '; display: block; display: block; float: left; width: 4px; position: relative; left: -12px; margin-right: -4px; margin-top: 11px; }
.list_style1 a { color: #757980; }

/*---/list style---*/
/*---links---*/
.link { font-size: 13px; text-decoration: none; color: #00a782; text-transform: uppercase; cursor: pointer; }
.link:after, .link > .after { content: ' '; display: inline-block; background-position: 0 -1011px; height: 12px; width: 12px; background-color: #757980; margin-left: 10px; vertical-align: -1px; }
.link:after:hover, .link > .after:hover { background-color: #00a782; }
.link:hover { text-decoration: underline; }
.link:hover:after, .link:hover > .after { background-color: #00a782; }
.link.roll:after, .link.roll > .after { background-position: 0 -416px; height: 11px; width: 11px; background-color: #757980; }
.link.minimize:after, .link.minimize > .after { background-position: 0 -427px; height: 11px; width: 11px; background-color: #757980; }

.link_print { float: right; color: #00a782; font-size: 14.3px; margin-right: 15px; margin-top: 19px; }
.link_print:before, .link_print > .before { content: ' '; display: inline-block; vertical-align: middle; margin-right: 13px; background-position: 0 -798px; height: 27px; width: 23px; }

.link_extra { float: right; font-size: 10.92px; margin-right: 15px; font-weight: normal; color: #00a782; margin-top: 2px; font-family: 'Ubuntu', Arial, Tahoma, Verdana, sans-serif; }

.option_list { list-style-type: none; font-family: 'Ubuntu', Arial, Tahoma, Verdana, sans-serif; text-transform: uppercase; font-size: 10.92px; font-weight: normal; margin: 4px 0 0 0; float: right; }
.option_list li { display: inline; border-left: 1px solid #e6e8eb; padding-left: 13px; margin-left: 11px; }
.option_list li:first-child { border-left: 0; }
.option_list a { color: #00a782; }

.attention { display: block; position: relative; padding: 11px 40px 11px 60px; margin: 10px 0; background-color: #d91d40; color: white; text-transform: uppercase; font-size: 15.99px; line-height: 18px; }
.attention:before, .attention > .before { content: ' '; display: block; background-position: 0 -647px; height: 20px; width: 20px; position: absolute; left: 16px; top: 50%; margin-top: -10px; }
.attention:after, .attention > .after { content: ' '; background-color: white; background-position: 0 -999px; height: 12px; width: 12px; position: absolute; right: 15px; top: 50%; margin-top: -6px; }
.attention:hover { text-decoration: none; color: white; }

.attention1 { display: block; position: relative; padding: 11px 40px 11px 60px; margin: 10px 0; background-color: #00a782; color: white; font-size: 15.99px; line-height: 18px; }
.attention1:before, .attention1 > .before { content: ' '; display: block; background-position: 0 -592px; height: 25px; width: 28px; position: absolute; left: 16px; top: 50%; margin-top: -10px; }
.attention1:after, .attention1 > .after { content: ' '; background-color: white; background-position: 0 -999px; height: 12px; width: 12px; position: absolute; right: 15px; top: 50%; margin-top: -6px; }
.attention1:hover { text-decoration: none; color: white; }

.link_all { cursor: pointer; color: #ff9c60; font-size: 11.7px; display: inline-block; margin: 5px 0; }
.link_all:after, .link_all > .after { content: ' '; display: inline-block; background-position: 0 -373px; height: 11px; width: 11px; margin-left: 5px; vertical-align: -2px; }

.link_all1 { cursor: pointer; color: #00a782; font-size: 11.7px; display: inline-block; margin: 5px 0; }
.link_all1:after, .link_all1 > .after { content: ' '; display: inline-block; background-position: 0 -340px; height: 11px; width: 11px; margin-left: 5px; vertical-align: -2px; }

.show_link { margin-bottom: 15px; text-align: right; }
.show_link a { text-decoration: none; border-bottom: 1px dashed #00a782; color: #00a782; margin: 0 5px; }
.show_link a:hover { border-bottom: 0; }

/*---/links---*/
/*---btns---*/
.btn { border: 0; display: inline-block; background-color: #00a782; color: white; cursor: pointer; font-size: 11.7px; text-transform: uppercase; padding: 10px 15px; line-height: 20px; height: 20px; }
.btn:hover { color: white; text-decoration: none; }

.btn1 { border: 0; display: inline-block; background-color: #b8babf; color: white; cursor: pointer; font-size: 11.7px; text-transform: uppercase; padding: 10px 15px; line-height: 20px; height: 20px; }
.btn1:hover { color: white; text-decoration: none; }

.btn2 { border: 0; display: inline-block; background-color: #323742; color: white; cursor: pointer; font-size: 14.3px; text-transform: uppercase; padding: 10px 20px; }
.btn2:hover { color: white; text-decoration: none; background-color: #b8babf; }

.btn3 { border: 0; display: inline-block; background-color: #d91d40; color: white; cursor: pointer; font-size: 11.7px; text-transform: uppercase; padding: 10px 15px; line-height: 20px; height: 20px; }
.btn3:hover { color: white; text-decoration: none; }
.btn3[disabled] { background-color: #dbdcdf; }

.btn_extra { margin: 0 15px; font-size: 11.7px; color: #757980; text-decoration: underline; cursor: pointer; }
.poll .btn_extra:hover { color: #d91d40; }
.btn_extra.active { color: #d91d40; text-decoration: none; }

input[class^="btn"] { height: 40px; }

/*---/btns---*/
/*---titles---*/
.subtitle { text-transform: uppercase; font-weight: bold; margin: 0 0 12px; color: #323742; }
.block .subtitle { padding: 8px 0 18px; }

/*---/titles---*/
/*---share---*/
.share { margin: 0 0 50px; }

.share * { vertical-align: middle; }

.share_title { vertical-align: middle; color: #898e98; font-size: 10.92px; margin-right: 50px; }

/*---/share---*/
/*---text_block---*/
.text_block { padding: 0 0 33px; }

/*---/text_block---*/
/*---top---*/
.top { background-color: #e9ebee; min-width: 1000px; }
.top a { color: #757980; }
.top a:hover { color: #757980; }

.top_inner { max-width: 1170px; min-width: 960px; margin: 0 auto; height: 26px; line-height: 24px; padding: 0 20px; }

.slogan { float: left; color: #b8babf; }

.auth { float: right; border-left: 1px solid white; padding: 0 0 0 46px; height: 26px; }
.auth:before, .auth > .before { content: ' '; display: block; float: left; width: 12px; position: relative; left: -27px; margin-right: -12px; height: 12px; margin-top: 7px; }
.auth a { color: #343944; }
.auth a:hover { color: #343944; }

/*---/top---*/
/*---header---*/
.header { clear: both; }
.header:after, .header > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

.header_inner { margin-right: 600px; }

.logo { padding: 15px 0 0 0; float: left; width: 39.5%; text-align: center; line-height: 60px; }
.logo img { margin: 0 auto; max-width: 90%; vertical-align: middle; }

.project_menu { text-align: center; float: right; margin: 0; padding: 0; width: 60%; }
.project_menu ul { list-style-type: none; margin: 0; padding: 0; text-transform: uppercase; }
.project_menu li { float: left; width: 25%; }
.project_menu li:first-child a { border-left: 1px solid #e9ebee; }
.project_menu a { border-right: 1px solid #e9ebee; display: block; padding: 10px 0 0 0; height: 80px; color: #494f5c; text-decoration: none; }
.project_menu a:before, .project_menu a > .before { display: block; content: ' '; margin: 0 auto; }
.project_menu a:hover { background-color: #f7f7f7; }
.project_menu a.project_tech:before, .project_menu a.project_tech > .before { width: 24px; height: 24px; margin: 12px auto 10px; }
.project_menu a.project_games:before, .project_menu a.project_games > .before { width: 30px; height: 21px; margin: 11px auto 14px; }
.project_menu a.project_soft:before, .project_menu a.project_soft > .before { width: 23px; height: 23px; margin: 10px auto 13px; }
.project_menu a.project_sience { color: #fff; background: #0ecfa4; background: -moz-radial-gradient(center, ellipse cover, #0ecfa4 8%, #048f71 100%); background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(8%, #0ecfa4), color-stop(100%, #048f71)); background: -webkit-radial-gradient(center, ellipse cover, #0ecfa4 8%, #048f71 100%); background: -o-radial-gradient(center, ellipse cover, #0ecfa4 8%, #048f71 100%); background: -ms-radial-gradient(center, ellipse cover, #0ecfa4 8%, #048f71 100%); background: radial-gradient(ellipse at center, #0ecfa4 8%, #048f71 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ecfa4', endColorstr='#048f71',GradientType=1 ); }
.project_menu a.project_sience:before, .project_menu a.project_sience > .before { width: 33px; height: 29px; margin: 7px auto 10px; }

.banner_header { float: right; width: 600px; height: 90px; }

.banner_header * { vertical-align: middle; }

.navig { clear: both; height: 40px; margin: 0 0 10px; }

.navig_inner { clear: both; background-color: #323742; height: 40px; }

.nav_stick { position: fixed; top: 0; z-index: 2000; max-width: 1200px; min-width: 990px; margin: 0 auto; padding-left: 5px; padding-right: 5px; width: 99.2%; padding: 0 !important; overflow: hidden; }

.menu_stick { list-style-type: none; margin: 0; padding: 0; float: right; display: none; }
.menu_stick li { float: left; border-left: 1px solid #3d424c; }
.menu_stick li:first-child { border-left: 0; }
.menu_stick a { display: block; width: 40px; height: 40px; overflow: hidden; text-indent: -1000px; }
.menu_stick a:hover { background-color: #494f5c; }
.nav_stick .menu_stick { display: block; }

.stick_tech { background-position: 0 -438px; height: 40px; width: 40px; }

.stick_games { background-position: 0 -300px; height: 40px; width: 40px; }

.stick_soft { background-position: 0 -172px; height: 40px; width: 40px; }

.stick_sience { background-position: 0 -29px; height: 40px; width: 40px; }

.stick_logo { float: right; background-color: #494f5c; position: relative; padding: 7px 16px 0 12px; height: 33px; margin: 0 12px 0 0; display: none; }
.stick_logo:after, .stick_logo > .after { content: ' '; display: block; position: absolute; top: 0; left: 100%; background-position: 0 -825px; height: 40px; width: 8px; }
.nav_stick .stick_logo { display: block; }

/*---menu---*/
.main_menu { font-weight: 300; text-transform: uppercase; line-height: 40px; float: left; }
.main_menu ul { margin: 0; padding: 0; list-style-type: none; }
.main_menu li { float: left; }
.main_menu li:hover, .main_menu li.active { background-color: #b8babf; color: #323742; }
.main_menu li:hover a, .main_menu li.active a { color: #303540; }
.main_menu a { display: block; padding: 0 14px; color: white; text-decoration: none; }
.main_menu .sub { position: relative; z-index: 200; }
.main_menu .sub:after, .main_menu .sub > .after { content: ' '; display: block; position: absolute; top: 15px; right: 11px; background-color: #b8babf; background-position: 0 -416px; height: 11px; width: 11px; }
.main_menu .sub:hover:after, .main_menu .sub:hover > .after { background-color: #323742; }
.main_menu .sub > a { padding-right: 29px; }

.sub_menu { width: 255px; top: 40px; left: 0; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 13px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 13px; box-shadow: rgba(0, 0, 0, 0.4) 0 0 13px; background-color: #e9ebee; display: none; position: absolute; padding-top: 5px !important; line-height: 30px; }
.sub:hover .sub_menu { display: block; }
.sub_menu li { float: none; position: relative; border-top: 1px solid #b8babf; }
.sub_menu li:first-child { border-top: 0; }
.sub_menu li:hover { background: none; display: block; }
.sub_menu li.active { background-color: #d9dbdf; }
.sub_menu li.active a:before, .sub_menu li.active a > .before { content: ' '; display: inline-block; background-position: 0 -1011px; height: 12px; width: 12px; display: block; float: left; width: 12px; position: relative; left: -28px; margin-right: -12px; margin-top: 10px; background-color: #00a782; }
.sub_menu a { padding: 0 0 0 50px; color: #323742; }
.sub_menu a:hover { background-color: #d9dbdf; }

/*---/menu---*/
/*---search---*/
.search { float: right; padding: 6px; }
.search .search_text { background-color: #393e49; border: 1px solid #757981; color: #fff; width: 211px; height: 20px; padding: 2px 5px; vertical-align: middle; }
.nav_stick .search .search_text { width: 110px; }
.search input[type="submit"] { width: 27px; height: 26px; border: 0; margin: 0; padding: 0; cursor: pointer; vertical-align: middle; }

/*---/search---*/
/*---/header---*/
/*---tabs---*/
.tabs { margin: 0 0 5px; }

.tabs_list { list-style-type: none; margin: 0; padding: 0; text-transform: uppercase; }
.tabs_list li { float: left; cursor: pointer; display: block; background-color: #343944; color: white; padding: 14px 32px; border-left: 1px solid #5c616d; -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.75); -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.75); box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.75); background: #242830; /* Old browsers */ background: -moz-linear-gradient(top, #242830 0%, #3c4250 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242830), color-stop(100%, #3c4250)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #242830 0%, #3c4250 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #242830 0%, #3c4250 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #242830 0%, #3c4250 100%); /* IE10+ */ background: linear-gradient(to bottom, #242830 0%, #3c4250 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242830', endColorstr='#3c4250',GradientType=0 ); /* IE6-9 */ }
.tabs_list li:first-child { border-left: 1px solid #343944; }
.tabs_list li:first-child:hover { border-color: #747780; }
.tabs_list li:hover { text-decoration: none; background-color: #747780; }
.tabs_list li span { color: #c2c6cc; }
.tabs_list li.current { background: white; color: #343944; border: 1px solid #e9ebee !important; border-bottom: 0 !important; position: relative; padding-left: 13px 14px 15px; margin-right: -1px; margin-bottom: -1px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.tabs_block { border: 1px solid #e9ebee; padding: 20px 14px; clear: both; }

.tabs_item:after, .tabs_item > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

/*---/tabs---*/
/*---shop---*/
.shop { color: #494f5c; line-height: 1.35; color: #757980; border-top: 1px solid #e9ebee; margin: 15px 0 20px; padding-top: 20px; }
.shop .comment_number { float: right; margin-left: 22px; margin-top: 7px; }
.shop .raiting { float: right; text-align: right; margin: 0 0 0; }
.shop .stars { display: block; float: none; margin: 0; }
.shop p { clear: both; }
.shop h5 { min-height: 32px; }
.title2 + .shop { border-top: 0; padding-top: 0; }

.shop_info { color: #494f5c; }
.shop_info a { color: #00a782; }

/*---/shop---*/
/*---section_menu---*/
.section_menu:after, .section_menu > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.section_menu ul { list-style-type: none; margin: 0; padding: 0; border: 1px solid #e9ebee; text-transform: uppercase; }
.section_menu ul:after, .section_menu ul > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.section_menu li { border-top: 1px solid #e9ebee; border-right: 1px solid #e9ebee; margin: -1px -1px 0 0; width: 50%; float: left; height: 40px; overflow: hidden; }
.section_menu a { color: #00a782; display: block; padding: 12px 5px 11px 15px; height: 17px; }
.section_menu a:hover { text-decoration: none; background-color: #f7f7f7; }
.section_menu a:after, .section_menu a > .after { content: ' '; display: inline-block; background-position: 0 -1011px; height: 12px; width: 12px; background-color: #757980; margin-left: 12px; vertical-align: -1px; }
.section_menu a:after:hover, .section_menu a > .after:hover { background-color: #00a782; }
.section_menu .numb { font-size: 11.7px; color: #757980; margin: 0 0 0 8px; }
.section_menu .active { text-decoration: none; background-color: #00a782; color: white; display: block; height: 17px; padding: 12px 5px 11px 15px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3); }
.section_menu .active .numb { color: white; }

.sponsor_block { float: right; text-align: right; font-size: 11.7px; color: #b8babf; text-transform: none; font-family: 'Ubuntu', Arial, Tahoma, Verdana, sans-serif; letter-spacing: 0; padding: 0 15px 0 0; margin: -11px 0 0 0; }
.sponsor_block img { display: block; max-height: 32px; }

/*---/section_menu---*/
/*---form_style---*/
label { cursor: pointer; }


.param_radio label { margin-right: 10px; }
.form_navig .param_radio { line-height: 18px;  min-height: 20px; padding: 4px 0 5px 18px; }
.form_navig label { color:#e9ebee !important; }
.form_style_simple { padding: 0 15px 20px; }


.form_simple { background-color: white; border: 1px solid #00a782; color: #757980; margin: 14px 0 14px; padding: 0 15px 20px; }
.form_simple .subtitle { color: #494f5c; border-bottom: 1px solid #babcbf; border-top: 1px solid #babcbf; margin: 0 -15px 13px; padding: 10px 15px 10px; background-color: #f7f7f7; }
.form_simple .subtitle:first-child { border-top: 0; }
.form_simple .numb { color: #757980; }
.form_simple .btn.fright { margin-top: -6px; }
.form_simple .jq-selectbox { width: 230px; }

.jq-selectbox__search { display: none !important; }

.sidebar .jq-selectbox { width: 268px; }

.param { min-height: 20px; margin: 10px 0 16px; }
.param label { margin-right: 10px; }

.param-radio { min-height: 20px; padding: 4px 0 5px; padding-left: 18px; }
.param-radio label { margin-right: 10px; }
.param-radio .jq-radio { display: block; float: left; width: 15px; position: relative; left: -18px; margin-right: -15px; margin-top: 2px; }

.param1 { min-height: 20px; margin: 0; }
.param1 label { margin-right: 10px; }

input[type="text"], input[type="password"] { background-color: #FFF; border: 1px solid #b8babf; font-size: 14.3px; color: #494f5c; padding: 7px 10px; width: 246px; margin: 3px 0; -webkit-box-shadow: inset 0 1px 0 #7f7f7f; -moz-box-shadow: inset 0 1px 0 #7f7f7f; box-shadow: inset 0 1px 0 #7f7f7f; }

.span2 { display: inline-block; vertical-align: top; width: 49%; }

.span3 { display: inline-block; vertical-align: top; width: 33%; }

.span3 input[type="text"] { width: 85%; }

.param_extra { list-style-type: none; margin: 0; padding: 0; }
.param_extra li { min-height: 20px; margin: 0 0 10px; }

.param_extra_name { color: #323742; cursor: pointer; border-bottom: 1px dashed #323742; }
.param_extra_name:after, .param_extra_name > .after { display: inline-block; content: ' '; background-position: 0 -362px; height: 11px; width: 11px; margin-right: -11px; vertical-align: middle; position: relative; left: 3px; }
.param_extra_name.open:after, .param_extra_name.open > .after { background-position: 0 -351px; height: 11px; width: 11px; }
.param_extra_name:hover { border-bottom: 0; }

.param_roll { padding: 3px 0 1px; display: none; }
.param_roll .param:last-child { margin-bottom: 2px; }
.param_roll .slider-value { margin-top: 20px; }

.checked + label { color: #323742; }

#grade { border: 0; color: #fff; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.form_navig { background-color: #494f5c; color: #b8babf; margin: 0 15px 10px 0; padding: 8px 0 8px 15px; color: #e9ebee; line-height: 34px; }
.form_navig:after, .form_navig > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.form_navig .jq-selectbox { width: 208px; margin: 0 5px 0 0; }
.form_navig .jq-selectbox__select { margin: 0; }
.form_navig input[type="text"], .form_navig .form_style input[type="password"] { border: 1px solid #2E323B; vertical-align: middle; }
.form_navig .btn { height: 32px; margin: 3px 0; vertical-align: middle; padding: 0 15px; }

.form_navig_inner { float: left; line-height: 1.3; margin: 0 15px 0 0; }

.enter_code { float: left; }
.enter_code label, .enter_code img, .enter_code input { vertical-align: middle; margin: 3px 10px 3px 0; display: inline-block; }

/*---/form_style---*/
.close { position: absolute; display: block; cursor: pointer; background-position: 0 -951px; height: 14px; width: 13px; top: 3px; right: 3px; }

.lb-nav a.lb-prev:after, .lb-nav a.lb-prev > .after { display: block; content: ' '; top: 50%; margin-top: -16px; right: 15px; background-position: 0 -747px; height: 33px; width: 20px; }

.lb-nav a.lb-next:after, .lb-nav a.lb-next > .after { display: block; content: ' '; top: 50%; margin-top: -16px; left: 15px; background-position: 0 -688px; height: 33px; width: 20px; }

.lb-data .lb-close { background-position: 0 -252px; height: 27px; width: 27px; }

/*---poll---*/
.poll_form { padding-bottom: 7px; }
.poll_form h4 { font-size: 16.25px; color: #494f5c; border-bottom: 1px solid #e9ebee; padding: 0 0 13px; margin: 0 0 15px; font-weight: normal; }
.poll_form .param { padding-left: 28px; }
.poll_form .param .param_radio { display: block; float: left; width: 14px; position: relative; left: -28px; margin-right: -14px; margin-top: 2px; line-height: 14px; }

.poll_total { margin: 12px 0 3px; }

.poll_result { margin: 12px 0 20px; }

.param_result { padding-left: 0; margin: 6px 0; }

.result_statusbar { padding-left: 28px; color: #494f5c; font-size: 10.92px; padding-top: 2px; height: 16px; }
.result_statusbar .value { display: block; display: block; float: left; width: 28px; position: relative; left: -28px; margin-right: -28px; }
.result_statusbar b { display: block; height: 7px; background-color: #d91d40; margin: 5px 0 0 0; }

/*---/poll---*/
/*---focus_list---*/
.focus_list { list-style-type: none; margin: 0; padding: 0; }
.focus_list li { float: left; width: 190px; margin: 0 16px 0 0; }
.focus_list a { color: #494f5c; display: block; padding: 13px 10px 0 10px; border-top: 5px solid #76a9ea; position: relative; height: 86px; }
.focus_list a:after, .focus_list a > .after { content: ' '; background-position: 0 -1023px; height: 4px; width: 9px; position: absolute; top: 0; left: 40px; background-color: #00a782; display: none; }
.focus_list a:hover { text-decoration: none; border-color: #00a782; }
.focus_list a:hover:after, .focus_list a:hover > .after { display: block; }

.detal { color: #00a782; display: block; margin: 10px 0 0; font-size: 11.96px; }

.focus_slider { position: relative; border-top: 1px solid #e9ebee; border-bottom: 1px solid #e9ebee; height: 99px; overflow: hidden; margin-bottom: 14px; }
.content .focus_slider { margin-bottom: 0; }
.focus_slider .bx-wrapper { margin: 0 auto; }
.focus_slider .bx-prev, .focus_slider .bx-next { background-color: #f7f7f7 !important; position: absolute; border-style: solid; border-color: #f7f7f7; top: 0; text-indent: -100px; overflow: hidden; }
.focus_slider .bx-prev { border-width: 33px 10px 34px 11px; left: 0; background-position: 0 -747px; height: 33px; width: 20px; }
.focus_slider .bx-prev:hover { background-position: 0 -102px; height: 33px; width: 20px; }
.focus_slider .bx-next { border-width: 33px 11px 34px 10px; right: 0; background-position: 0 -688px; height: 33px; width: 20px; }
.focus_slider .bx-next:hover { background-position: 0 -69px; height: 33px; width: 20px; }

/*---/focus_list---*/
/*---article---*/
.article { font-size: 14.3px; line-height: 1.4; padding-bottom: 18px; border-top: 1px solid #e9ebee; }
.article:after, .article > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.article:hover { background: #fafafb; }
.article .img { float: left; margin: 0 22px 0 0; }
.article .title { display: block; color: #494f5c; font-size: 20.02px; font-weight: normal; line-height: 1.25; margin: 0 0 4px; }
.article .author { display: block; font-size: 0.8em; color: #898e98; margin: 0 0 10px; }
.article .comment_number { float: right; position: relative; margin-right: 13px; margin-top:17px;  padding:0 3px 1px; color:#fff;}
.article time { margin-top: 5px; padding-bottom: 20px; }
.article > time { padding-left: 15px; }
.article a { padding: 17px 50px 0 15px; display: block; color: #747780; }
.article a:hover { text-decoration: none; }
.article a:hover .title { color: #00a782; }
.article a:hover .description { color: #494f5c; text-decoration: underline; }
.article a:hover .comment_number { background-color: #00a782; }
/*.article a:hover .txt { text-decoration: underline; color: #494f5c; } */
.article p { margin: 0; }
.article div.txt { padding: 0 50px 0 15px; }

.article .event_detail { padding-bottom:5px; }
#tab_hypothesis .article {float:left; width:49.9%; padding-bottom:0;}
#tab_hypothesis .article a {height:130px; overflow:hidden; }

.article_info { font-size: 11px; margin-top: -16px; text-align: right; padding-left: 207px; padding-right: 20px; position: relative; }
.article_info a { color: #00a782; text-decoration: underline; margin-right: 5px; padding: 0; display: inline; }
.article_info a:hover { text-decoration: none; }

.article_outer article { padding: 0; border-top: 0; border-bottom: 1px solid #e9ebee; }
.article_outer article a { padding: 17px 50px 18px 15px; }
.article_outer article a:after, .article_outer article a > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.article_outer article a:hover { background-color: #fff4e7; }
.article_outer article a:hover .txt { color: #494f5c; text-decoration: underline; }

.list_article { border-top: 1px solid #e9ebee; list-style-type: none; margin: 0; padding: 32px 0 30px 15px; text-transform: uppercase; font-weight: bold; }
.list_article li { margin: 0 0 8px; }
.section_sub_title + .list_article { border-top: 0; padding-top: 27px; }

.articles { font-size: 16.25px; margin: 0; }
.articles:after, .articles > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.articles ul { list-style-type: none; margin: 12px 0 0; padding: 0; }
.articles li { margin: 0 4.5% 10px 0; padding: 0 0 0; display: inline-block; width: 45%; vertical-align: top; }
.section_sub_title + .articles { border-top: 0; padding-top: 27px; }
.articles .more:after, .articles .more > .after { margin-right: -30px; }

.article_extra { list-style-type: none; margin: 0; padding: 0; font-size: 15.99px; line-height: 1.15; }
.article_extra li { border-top: 1px solid #e9ebee; padding: 11px 0; }
.article_extra li:first-child { border-top: 0; padding-top: 0; }
.article_extra time { padding: 0 0 4px; }

.article_slider, .news_slider { list-style-type: none; margin: 0; padding: 0; height: 410px; overflow: hidden; }
.article_slider li, .news_slider li { float: left; width: 399px; height: 290px; }
.article_slider .article, .news_slider .article { overflow: hidden; height: 290px; padding-right: 0; padding-bottom: 0; }
.article_slider .article:hover, .news_slider .article:hover { background: none; }
.article_slider .article > a, .news_slider .article > a { padding-right: 15px; height: 275px; }
.article_slider .article > a:hover, .news_slider .article > a:hover { background: none; }
.article_slider .img, .news_slider .img { float: none; display: block; margin: 0 0 25px; }
.article_slider .author, .news_slider .author { margin-bottom: 15px; }
.article_slider .comment_number, .news_slider .comment_number { margin-right: 65px; margin-top: 2px; }

.news_slider { height: 150px; }
.news_slider li { height: 150px; }
.news_slider .article { height: 150px; }
.news_slider .article > a { height: 135px; }

.slider_main { margin: 16px 0 16px 0; border: 1px solid #e9ebee; position: relative; }
.slider_main .section_title { padding-bottom: 0; height: 36px; border-bottom: 1px solid #e9ebee; }
.slider_main .bx-prev, .slider_main .bx-next { display: block; position: absolute; top: 0; width: 46px; height: 46px; overflow: hidden; text-indent: -1000px; border-left: 1px solid #e9ebee; }
.slider_main .bx-prev.disabled, .slider_main .bx-next.disabled { display: none; }
.slider_main .bx-prev:after, .slider_main .bx-prev > .after, .slider_main .bx-next:after, .slider_main .bx-next > .after { content: ' '; position: absolute; display: block; margin: -5px 0 0 -3px; top: 50%; left: 50%; }
.slider_main .bx-prev { right: 47px; }
.slider_main .bx-prev:after, .slider_main .bx-prev > .after { background-position: 0 -975px; height: 10px; width: 6px; }
.slider_main .bx-prev.disabled { display: none; }
.slider_main .bx-next { right: 0px; }
.slider_main .bx-next:after, .slider_main .bx-next > .after { background-position: 0 -965px; height: 10px; width: 6px; }
.slider_main .bx-wrapper { margin: 0 !important; }

/*---/article---*/
.block { border: 1px solid #e9ebee; padding: 0 15px 5px; }

.title1 { background-color: #00a782; font-weight: normal; text-transform: uppercase; color: #fff; margin: 0 0 17px; padding: 9px 15px; font-size: 1.23em; font-family: 'Russo One', sans-serif; }
.block .title1 { margin: 0 -15px 17px; }

.title2 { background-color: #494f5c; font-weight: normal; text-transform: uppercase; color: #fff; margin: 0 0 17px; padding: 9px 15px; font-size: 1.23em; font-family: 'Russo One', sans-serif; }
.block .title2 { margin: 0 -15px 17px; }

.title3 { background-color: #d91d40; font-weight: normal; text-transform: uppercase; color: #fff; margin: 0 0 17px; padding: 9px 15px; font-size: 1.23em; font-family: 'Russo One', sans-serif; }
.block .title3 { margin: 0 -15px 17px; }

.all { font-weight: normal; float: right; color: #00a782; font-size: 10.92px; text-transform: none; margin: 2px 0 0 0; font-weight: normal; font-family: 'Ubuntu', Arial, Tahoma, Verdana, sans-serif; letter-spacing: 0; }
.all:hover { color: #00a782; }
.title1 .all, .title2 .all, .title3 .all { color: white; }
.title1 .all:hover, .title2 .all:hover, .title3 .all:hover { color: white; }
.tabs .all { margin-top: 19px; }

/*---events_list---*/
.events_list article { border-bottom: 1px solid #e9ebee; padding: 10px 0 10px; }
.events_list article:first-child { border-top: 0; padding-top: 0; }
.events_list h5 a:hover { color: #d91d40; text-decoration: none; border-bottom: 1px solid #d91d40; }

.event_data { display: block; color: #898e98; font-size: 10.92px; }
.event_data time { display: inline; }

.list_outer .bx-prev { display: none; }
.list_outer .show, .list_outer .bx-next { display: block; position: relative; height: 40px; background-color: #e9ebee; text-indent: -1000px; }
.list_outer .show:after, .list_outer .show > .after, .list_outer .bx-next:after, .list_outer .bx-next > .after { content: ' '; display: block; background-position: 0 -164px; height: 8px; width: 14px; position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -7px; }
.list_outer .show.disabled, .list_outer .bx-next.disabled { display: none; }
.list_outer .show:hover:after, .list_outer .show:hover > .after, .list_outer .bx-next:hover:after, .list_outer .bx-next:hover > .after { background-position: 0 -915px; height: 8px; width: 14px; }

/*---/events_list---*/
/*---news_list---*/
.news_list article { border-bottom: 1px solid #e9ebee; padding: 10px 0 10px; }
.news_list article:first-child { border-top: 0; padding-top: 0; }
.news_list h5 { font-weight: normal; font-size: 16.25px; text-transform: none; }

/*---/news_list---*/
/*---sections---*/
.games .title_section:before, .games .title_section > .before { background-position: 0 -395px; height: 21px; width: 30px; top: 50%; margin-top: -10.5px; left: 20px; margin-left: -15px; }
.games .section_news li:hover .section_new_text { background: rgba(232, 38, 66, 0.8); }
.games .bx-next { background: #e82642; }

.sience .title_section:before, .sience .title_section > .before { background-position: 0 -135px; height: 29px; width: 33px; top: 50%; margin-top: -14.5px; left: 20px; margin-left: -16.5px; }
.sience .section_news li:hover .section_new_text { background: rgba(0, 167, 130, 0.8); }
.sience .bx-next { background: #00a782; }

.soft .title_section:before, .soft .title_section > .before { background-position: 0 -229px; height: 23px; width: 23px; top: 50%; margin-top: -11.5px; left: 20px; margin-left: -11.5px; }
.soft .section_news li:hover .section_new_text { background: rgba(4, 170, 235, 0.8); }
.soft .bx-next { background: #04aaeb; }

.tech .title_section:before, .tech .title_section > .before { background-position: 0 -568px; height: 24px; width: 24px; top: 50%; margin-top: -12px; left: 20px; margin-left: -12px; }
.tech .section_news li:hover .section_new_text { background: rgba(255, 102, 0, 0.8); }
.tech .bx-next { background: #ff6600; }

.title_section { clear: both; font-size: 20px; text-transform: uppercase; padding: 8px 45px 6px; margin-top: 2px; position: relative; font-family: 'Russo One', sans-serif; }
.title_section:before, .title_section > .before { position: absolute; content: ' '; }

.comment_number { display: inline-block; position: relative; background-color: #b8babf; font-size: 10px; font-weight: bold; color: white; line-height: 12px; padding: 0 3px 1px; min-width: 6px; min-height: 12px; }
.comment_number:after, .comment_number > .after { background-position: 0 -985px; height: 7px; width: 7px; display: block; position: absolute; bottom: -7px; right: 0; content: ' '; }
.comment_number:hover { text-decoration: none; color: white; background-color: #00a782; }
.comment_number:hover:after, .comment_number:hover > .after { background-position: 0 -293px; height: 7px; width: 7px; }

.section_news { position: relative; overflow: hidden; height: 300px; }
.section_news .bx-prev { display: none; }
.section_news .bx-next { display: block; position: absolute; text-indent: -1000px; overflow: hidden; width: 40px; height: 300px; top: 0; right: 0; z-index: 5; }
.section_news .bx-next:after, .section_news .bx-next > .after { content: ' '; position: absolute; display: block; left: 14px; top: 50%; margin-top: -15px; background-position: 0 -882px; height: 33px; width: 20px; }

.section_news_list, .section_main { list-style-type: none; margin: 0; padding: 0; }
.section_news_list > li, .section_news_list article, .section_main > li, .section_main article { float: left; position: relative; width: 300px; height: 300px; overflow: hidden; }
.section_news_list > li:hover .news_info, .section_news_list article:hover .news_info, .section_main > li:hover .news_info, .section_main article:hover .news_info { display: block; }
.section_news_list > li:hover .section_new, .section_news_list article:hover .section_new, .section_main > li:hover .section_new, .section_main article:hover .section_new { color: white; }
.section_news_list > li:hover .section_new .description, .section_news_list > li:hover .section_new .category, .section_news_list article:hover .section_new .description, .section_news_list article:hover .section_new .category, .section_main > li:hover .section_new .description, .section_main > li:hover .section_new .category, .section_main article:hover .section_new .description, .section_main article:hover .section_new .category { display: block; margin-bottom: 12px; }
.section_news_list .news_info, .section_main .news_info { display: none; position: absolute; bottom: 0px; right: 15px; text-align: right; min-height: 37px; font-size: 11px; }
.section_news_list .news_info a, .section_main .news_info a { color: white; text-decoration: underline; margin-right: 3px; white-space: nowrap; }
.section_news_list .news_info a:hover, .section_main .news_info a:hover { text-decoration: none; }
.section_news_list .comment_number, .section_main .comment_number { display: inline-block; background-color: white; color: #323742 !important; text-decoration: none !important; margin: 0 0 0 12px; text-decoration: none; }
.section_news_list .comment_number:after, .section_news_list .comment_number > .after, .section_main .comment_number:after, .section_main .comment_number > .after { background-position: 0 -992px; height: 7px; width: 7px; }

.section_main { position: relative; overflow: hidden; height: 300px; }
.section_main img { max-width: none; }
.section_main li { display: block; float: left; width: 33.334%; }
.section_main li:hover .section_new_text { background: rgba(0, 167, 130, 0.8); }

.section_news_items { list-style-type: none; margin: 0; padding: 0; height: 298px; width: 300px; overflow: hidden; display: table; line-height: 1.4; border-top: 1px solid #e9ebee; border-bottom: 1px solid #e9ebee; }
.section_news_items li { display: table-row; }
.section_news_items li:first-child a { background-image: none; }
.section_news_items a { display: table-cell; padding: 5px 50px 5px 20px; vertical-align: middle; background: url(../images/line.gif) 20px 0 no-repeat; }
.section_news_items a:hover { background: #323742; color: white; text-decoration: none; }

.section_new { display: block; text-decoration: none; color: white; }
.section_new .name { display: block; font-family: 'Russo One', sans-serif; text-transform: uppercase; margin: 0 0 2px; }
.section_new .category { text-transform: uppercase; margin: 0 0 5px; display: none; }
.games .section_new .category { display: block; }
.section_new .description { display: none; padding-bottom: 20px; }
.section_new img { min-width: 300px; min-height: 300px; }

.section_new_text { display: block; font-size: 14.3px; min-height: 62px; position: absolute; bottom: 0; left: 0; width: 100%; background: rgba(73, 79, 92, 0.8); -webkit-transition: background-color ease-out, min-height ease-out; -webkit-transition-delay: 1s, 0.5s; -moz-transition: background-color ease-out 1s, min-height ease-out 0.5s; -o-transition: background-color ease-out 1s, min-height ease-out 0.5s; transition: background-color ease-out 1s, min-height ease-out 0.5s; }
.section_news li:hover .section_new_text, .section_main li:hover .section_new_text { min-height: 100%; }

.section_new_inner { padding: 13px 15px 5px; display: block; -webkit-transition: padding ease-out; -webkit-transition-delay: 0.5s; -moz-transition: padding ease-out 0.5s; -o-transition: padding ease-out 0.5s; transition: padding ease-out 0.5s; }
.section_news li:hover .section_new_inner, .section_main li:hover .section_new_inner { padding-top: 40px; }

.icon-android { display: inline-block; vertical-align: top; background-position: 0 -667px; height: 21px; width: 18px; }

/*---/sections---*/
/*---sidebar_menu---*/
.sidebar_menu { list-style-type: none; margin: 0; padding: 0; border: 1px solid #e9ebee; border-top: 0; text-transform: uppercase; }
.sidebar_menu li { border-top: 1px solid #e9ebee; }
.sidebar_menu li.active { background: #f4f5f6; }
.sidebar_menu li.active a:before, .sidebar_menu li.active a > .before { content: ' '; display: inline-block; background-position: 0 -1011px; height: 12px; width: 12px; display: block; float: left; width: 12px; position: relative; left: -28px; margin-right: -12px; margin-top: 2px; background-color: #00a782; }
.sidebar_menu a { display: block; padding: 9px 5px 9px 44px; }

/*---/sidebar_menu---*/
/*---footer---*/
.footer { background-color: #e9ebee; min-width: 1000px; }
.footer .social { float: none; margin: 0 0 22px; }
.footer .fb { background-position: 0 -22px; }
.footer .vk { background-position: -23px -22px; }
.footer .tw { background-position: -46px -22px; }
.footer .od { background-position: -69px -22px; }

.footer_inner { max-width: 1170px; min-width: 960px; margin: 0 auto; padding-left: 20pxpx; padding-right: 20pxpx; }
.footer_inner:after, .footer_inner > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }

.footer_content { margin-left: 300px; }

.footer_block { padding: 0 20px 33px 15px; border-right: 1px solid #d9dbdf; padding-top: 25px; float: left; width: 265px; margin: 0 0 0 -100%; }

.footer_sub_menu { list-style-type: none; margin: 23px 0 26px; padding: 0; }
.footer_sub_menu li { display: inline-block; }
.footer_sub_menu a { color: #b8babf; }

.copy { line-height: 1.3; font-size: 10.92px; color: #757980; margin: 0 0 23px; }
.copy a { color: #757980; }
.copy a:hover { color: #757980; text-decoration: underline; }

.footer_menu { color: #757980; list-style-type: none; margin: 0 0 0 6%; padding: 45px 0 0 0; float: left; font-size: 14px; text-transform: uppercase; font-weight: bold; width: 23%; }
.footer_menu li { margin: 0 0 21px; }
.footer_menu a { color: #757980; }
.footer_menu a:hover { color: #757980; }

.footer_menu_section { float: left; margin: 0; padding: 45px 0 0 0; list-style-type: none; font-size: 14px; text-transform: uppercase; font-weight: bold; width: 70.9%; }
.footer_menu_section > li { float: left; width: 33%; }
.footer_menu_section > li > a { color: #757980; }
.footer_menu_section > li > a:hover { color: #757980; }
.footer_menu_section ul { text-transform: none; list-style-type: none; margin: 0; padding: 14px 0 0; font-weight: normal; font-size: 13px; }
.footer_menu_section ul li { margin: 5px 0 0 0; }
.footer_menu_section ul a { color: #b8babf; }
.footer_menu_section ul a:hover { color: #b8babf; }

/*---/footer---*/
/*---article---*/
.article_content .lead { font-size: 20px; margin: 0 0 12px; }
.article_content .author { font-size: 10.92px; font-weight: 100; color: #898e98; }
.article_content .article_info { float: right; padding: 0; margin: 0; }

.article_inner { margin-top: 15px; }

.comment_number_big { display: block; float: right; position: relative; background-color: #00a782; font-size: 24.44px; font-weight: bold; color: white; line-height: 32px; padding: 0 10px 0; margin: 7px 42px 0 5px; min-width: 14px; min-height: 32px; }
.comment_number_big:hover {color: white; text-decoration:none;}
.comment_number_big:after, .comment_number_big > .after { background-position: 0 -212px; height: 17px; width: 16px; display: block; position: absolute; bottom: -17px; right: 0; content: ' '; }
.comment_number_big, .comment_number {visibility: hidden;}

.main_img { clear: both; padding: 22px 0 24px 0; }

.article_text { font-size: 15.99px; line-height: 1.32; padding: 20px 70px 0 90px; }
.article_text p { margin: 23px 0; }
.article_text p:first-child { margin-top: 0; }
.article_text h2:first-child, .article_text h3:first-child, .article_text h4:first-child { margin-top: 0; }
.article_text a { text-decoration: underline; outline: 0; }
.article_text a:hover { text-decoration: none; }


.article_img { margin: 27px -75px 27px -90px; color: #b8babf; font-size: 11.7px; }
.article_img img { max-width: 100%; display: block; margin: 0 0 12px; }

/*---/article---*/
/*---content of the article, news---*/
@font-face { font-family: 'rubl'; src: url("/inc/fonts/rouble/rouble-webfont.eot"); src: url("/inc/fonts/rouble/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("/inc/fonts/rouble/rouble-webfont.woff") format("woff"), url("/inc/fonts/rouble/rouble-webfont.ttf") format("truetype"), url("/inc/fonts/rouble/rouble-webfont.svg#als_rublregular") format("svg"); font-weight: normal; font-style: normal; }

.rubl { font-family: rubl, arial; }

.black:link { color: #000 !important; text-decoration: none; }

a.black:visited { color: #000 !important; text-decoration: none; }

a.black:hover { color: #d34f2a !important; text-decoration: underline !important; }

a.black:active { color: #000 !important; text-decoration: none; }

a.nodecore:link, a.nodecore:visited, a.nodecore:hover, a.nodecore:active { color: #000 !important; text-decoration: none !important; }

.smallLink, .author, .smallNewsLink { font-size: 85%; font-family: Tahoma, Verdana, sans-serif; color: #000; }

.smallNewsLink, .author { margin: 10px 0; padding: 0; }

.author { text-align: right; }

.clear { clear: both; }

.fleft { float: left; margin: 4px 10px 0 0; }

.fright { float: right; margin: 4px 0 0 10px; }

.upper { text-transform: uppercase; }

a.nounderline:link, a.nounderline:visited, a.nounderline:hover, a.nounderline:active { text-decoration: none; }

.active_nav { padding: 3px; background: #d34f2a; color: #fff; }

.gp { margin: 10px 0 0; padding: 2px; background: #e5e5e5; border: 1px solid #cfcece; text-align: center; font-weight: bold; clear: left; }

.nobord { border: none !important; }

.noLbord { border-left: none !important; }

.noBbord { border-bottom: none !important; }

.noTbord { border-top: none !important; }

.noRbord { border-right: none !important; }

.hide { display: none !important; }

a.red:link, a.red:visited, a.red:hover, a.red:active { text-decoration: none; }

/* list attation */
ul.attn { margin: 5px 0 5px 25px; padding: 0; font-weight: bold !important; color: #1e4a6d; list-style-image: url(http://pics.rbc.ru/img/cnews/2006/09/07/iSign.png); }

ul.attn li, li.attn { margin: 0 0 5px; list-style-image: url(http://pics.rbc.ru/img/cnews/2006/09/07/iSign.png); }

ul.attn a { text-decoration: none; }

/* note and comment */
div.note { background-color: #eee; margin: 10px; padding: 5px; border: 1px solid #000; }

div.noteForComments { background-color: #EEEEEE; border: 1px solid #000000; margin: 10px 0; overflow: hidden; padding: 5px; }

/*---/content of the article, news---*/
/*---comment---*/
.comment_block { padding: 30px 15px 30px 150px; min-height: 88px; border-top: 1px solid #e6e8eb; }
.comment_block .user_img { display: block; float: left; width: 90px; position: relative; left: -135px; margin-right: -90px; }
.comment_block .user_img img { width: 88px; border: 1px solid #e6e8eb; }
.comment_block time { display: inline; margin-left: 35px; }
.section_sub_title + .comment_block, .comment_text + .comment_block { border-top: 0; }
.comment_block .comment_block { padding-right: 0; }

.comment_info { font-size: 15.99px; margin: 0 0 12px; }
.comment_info .raiting { float: right; margin: 0; text-align: right; }
.comment_info .stars { display: block; float: none; margin: 0; }
.comment_info a { color: #00a782; }

.comment_text { border: 1px solid #e6e8eb; padding: 15px 10px 18px 18px; position: relative; }
.comment_text:before, .comment_text > .before { content: ' '; display: block; background-position: 0 -865px; height: 17px; width: 15px; position: absolute; top: 24px; left: -15px; }

.form_comment { background-color: #f4f5f6; margin-bottom: 15px; padding: 20px 15px; }
.form_comment:after, .form_comment > .after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.form_comment .user_img { float: left; margin: 0 27px 20px 0; font-size: 14.3px; }
.form_comment a { color: #00a782; }
.form_comment img { border: 1px solid #e6e8eb; }
.form_comment label { min-width: 75px; display: inline-block; }
.form_comment input[type="text"], .form_comment input[type="password"] { border: 1px solid #e6e8eb; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background-color: #FFF; font-size: 13px; color: #898e98; }
.form_comment textarea { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e6e8eb; background-color: #FFF; resize: none; height: 135px; margin: 0 0 19px; font-size: 13px; padding: 10px 0 10px 10px; color: #898e98; }
.form_comment p textarea { margin-bottom: 0; margin-top: 3px; }

/*---/comment---*/
/*---banners---*/
.banner { margin: 0 0 10px; text-align: center; }

.banner1 { margin: 0; text-align: center; }
.banner1 img { vertical-align: middle; }

.banner_170 { float: left; background-color: #e9ebee; text-align: center; padding: 19px 0 0 0; height: 303px; width: 200px; }
.banner_block {text-align: center;  max-width: 1200px; min-width: 700px; margin:auto; background:#e5e5e5; margin-bottom:10px; overflow:hidden;}
.banner_block * {vertical-align:middle;}


.yandex_direct { margin: 0 0 16px; margin: auto; max-width: 1200px; }

.yandex_direct1 { margin: 25px 0 30px 15px; }
.yandex_direct2 { margin: 5px 0 20px; }

.banner_bottom { margin: 17px 0; }

/*---/banners---*/
/*---element form styler---*/
.jq-checkbox { top: -1px; margin: 0 10px 0 0; vertical-align: middle; cursor: pointer; background-position: 0 -923px; height: 16px; width: 16px; }
.jq-checkbox.checked { background-position: 0 -617px; height: 16px; width: 16px; }

.jq-checkbox.disabled { opacity: 0.55; filter: alpha(opacity=55); }

.jq-radio { vertical-align: middle; cursor: pointer; background-position: 0 -633px; height: 14px; width: 14px; }
.jq-radio.checked .jq-radio__div { display: block; width: 6px; height: 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin: 4px 0 0 4px; background: #e23259; /* Old browsers */ background: -moz-linear-gradient(top, #e23259 0%, #d52843 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e23259), color-stop(100%, #d52843)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e23259 0%, #d52843 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #e23259 0%, #d52843 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #e23259 0%, #d52843 100%); /* IE10+ */ background: linear-gradient(to bottom, #e23259 0%, #d52843 100%); /* W3C */ }

.jq-radio.disabled { opacity: 0.55; filter: alpha(opacity=55); }

.jq-file { width: 270px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); border-radius: 4px; }

.jq-file input { cursor: pointer; height: auto; line-height: 1em; }

.jq-file__name { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 32px; padding: 0 80px 0 10px; color: #333; font: 14px/30px Arial, sans-serif; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; box-shadow: inset 1px 1px #F1F1F1; background: #FFF; }

.focused .jq-file__name { border: 1px solid #5794BF; }

.jq-file__browse { position: absolute; top: 1px; right: 1px; padding: 0 10px; border-left: 1px solid #CCC; border-radius: 0 4px 4px 0; background: #F1F1F1; box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; text-shadow: 1px 1px #FFF; font: 14px/30px Arial, sans-serif; }

.jq-file:hover .jq-file__browse { background-color: #E6E6E6; background-position: 0 -10px; }

.jq-file:active .jq-file__browse { background: #F5F5F5; box-shadow: inset 1px 1px 3px #DDD; }

.jq-file.disabled .jq-file__name { color: #888; }

.jq-file.disabled, .jq-file.disabled .jq-file__browse { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }

.jq-selectbox { vertical-align: middle; cursor: pointer; }

.jq-selectbox__select { height: 32px; padding: 0 40px 0 15px; border: 1px solid #b8babf; background: #fff; color: #757980; font-size: 13px; line-height: 32px; margin: 0 0 5px; }
.option .jq-selectbox__select { color: #323742; }
.opened .jq-selectbox__select { z-index: 100; }

.jq-selectbox__select-text { display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 36px; height: 31px; border-left: 1px solid #d8d9d9; border-top: 1px solid #fff; background: white; background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5)); background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%); background: -o-linear-gradient(top, white 0%, #e5e5e5 100%); background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%); background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); }

.jq-selectbox__trigger-arrow { position: absolute; top: 10px; right: 13px; width: 0; height: 0; background-color: #303540; background-position: 0 -416px; height: 11px; width: 11px; }

.jq-selectbox__dropdown { top: 34px; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 0 4px 0; padding: 0; }

.jq-selectbox__search { margin: 5px; }

.jq-selectbox__search input { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: none; border: 1px solid #CCC; box-shadow: inset 1px 1px #F1F1F1; color: #323742; -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }

.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #F0F0F0; font-size: 13px; }

.jq-selectbox ul { margin: 0; padding: 0; background: #e9ebee; box-shadow: 0 0 13px rgba(0, 0, 0, 0.39); color: #323742; }

.jq-selectbox li { min-height: 18px; padding: 8px 10px 8px 15px; border-top: 1px solid #d9dbdf; }
.jq-selectbox li.placeholder { display: none !important; }
.jq-selectbox li:first-child { border-top: 0; }

.jq-selectbox li.selected { color: #00a782; }

.jq-selectbox li:hover { color: #00a782; text-decoration: underline; }

.jq-selectbox li.disabled { color: #AAA; }

.jq-selectbox li.disabled:hover { background: none; }

.jq-selectbox li.optgroup { font-weight: bold; }

.jq-selectbox li.optgroup:hover { background: none; color: #231F20; cursor: default; }

.jq-select-multiple { -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); background: #FFF; color: #333; cursor: default; }

.jq-select-multiple.focused { border: 1px solid #5794BF; }

.jq-select-multiple.disabled { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }

.jq-select-multiple ul { margin: 0; padding: 0; }

.jq-select-multiple li { padding: 3px 9px 4px; list-style: none; }

.jq-select-multiple li:first-child { border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child { border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected { background: #08C; color: #FFF; }

.jq-select-multiple li.disabled { color: #AAA; }

.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #CCC; color: #FFF; }

.jq-select-multiple li.optgroup { font-weight: bold; }

input[type="email"].styler, input[type="number"].styler, input[type="password"].styler, input[type="search"].styler, input[type="tel"].styler, input[type="text"].styler, input[type="url"].styler, textarea.styler { padding: 7px 9px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; font: 14px Arial, sans-serif; }

input[type="search"].styler { -webkit-appearance: none; }

textarea.styler { overflow: auto; }

input[type="email"].styler:hover, input[type="number"].styler:hover, input[type="password"].styler:hover, input[type="search"].styler:hover, input[type="tel"].styler:hover, input[type="text"].styler:hover, input[type="url"].styler:hover, textarea.styler:hover { border-color: #B3B3B3; }

input[type="email"].styler:focus, input[type="number"].styler:focus, input[type="password"].styler:focus, input[type="search"].styler:focus, input[type="tel"].styler:focus, input[type="text"].styler:focus, input[type="url"].styler:focus, textarea.styler:focus { border-color: #CCC; border-top-color: #B3B3B3; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); outline: none; }

button.styler, input[type="button"].styler, input[type="submit"].styler, input[type="reset"].styler { overflow: visible; padding: 7px 11px; outline: none; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #F1F1F1; box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; text-shadow: 1px 1px #FFF; font: 14px Arial, sans-serif; cursor: pointer; }

button.styler::-moz-focus-inner, input[type="button"].styler::-moz-focus-inner, input[type="submit"].styler::-moz-focus-inner, input[type="reset"].styler::-moz-focus-inner { padding: 0; border: 0; }

button.styler:after { content: ''; }

button.styler:hover, input[type="button"].styler:hover, input[type="submit"].styler:hover, input[type="reset"].styler:hover { background-color: #E6E6E6; background-position: 0 -10px; }

button.styler:active, input[type="button"].styler:active, input[type="submit"].styler:active, input[type="reset"].styler:active { background: #F5F5F5; box-shadow: inset 1px 1px 3px #DDD; }

/*---/element form styler---*/
/*---sprite---*/
.icon-android { background-position: 0 -667px; }

.icon-arr_dark { background-position: 0 -1027px; }

.icon-arr_down { background-position: 0 -416px; }

.icon-arr_down1 { background-position: 0 -373px; }

.icon-arr_down2 { background-position: 0 -362px; }

.icon-arr_right { background-position: 0 -279px; }

.icon-arr_right1 { background-position: 0 -1011px; }

.icon-arr_right2 { background-position: 0 -340px; }

.icon-arr_right_orange { background-position: 0 -999px; }

.icon-arr_up, .main_menu .sub:hover:after, .main_menu .sub:hover > .after { background-position: 0 -427px; }

.icon-arr_up1 { background-position: 0 -384px; }

.icon-arr_up2 { background-position: 0 -351px; }

.icon-attention { background-position: 0 -647px; }

.icon-attention1 { background-position: 0 -592px; }

.icon-auth, .auth:before, .auth > .before { background-position: 0 -939px; }

.icon-btn_next { background-position: 0 -965px; }

.icon-btn_prev { background-position: 0 -975px; }

.icon-checkbox { background-position: 0 -923px; }

.icon-checkbox_checked { background-position: 0 -617px; }

.icon-close { background-position: 0 -951px; }

.icon-close1 { background-position: 0 -252px; }

.icon-compare { background-position: 0 -780px; }

.icon-corner { background-position: 0 -992px; }

.icon-corner_comment { background-position: 0 -865px; }

.icon-corner_green, .article a:hover .comment_number:after, .article a:hover .comment_number > .after { background-position: 0 -293px; }

.icon-corner_green_big { background-position: 0 -212px; }

.icon-corner_grey { background-position: 0 -985px; }

.icon-games, .project_menu a.project_games:before, .project_menu a.project_games > .before { background-position: 0 -395px; }

.icon-games_small { background-position: 0 -300px; }

.icon-next { background-position: 0 -688px; }

.icon-next_green { background-position: 0 -69px; }

.icon-next_white { background-position: 0 -882px; }

.icon-nick { background-position: 0 -1023px; }

.icon-prev { background-position: 0 -747px; }

.icon-prev_green { background-position: 0 -102px; }

.icon-print { background-position: 0 -798px; }

.icon-radio { background-position: 0 -633px; }

.icon-search, .search input[type="submit"] { background-position: 0 -721px; }

.icon-show { background-position: 0 -915px; }

.icon-show1 { background-position: 0 -164px; }

.icon-sience { background-position: 0 -135px; }

.icon-sience_small { background-position: 0 -29px; }

.icon-sienceactive, .project_menu a.project_sience:before, .project_menu a.project_sience > .before { background-position: 0 0; }

.icon-soft, .project_menu a.project_soft:before, .project_menu a.project_soft > .before { background-position: 0 -229px; }

.icon-soft_small { background-position: 0 -172px; }

.icon-stick_arr { background-position: 0 -825px; }

.icon-tech, .project_menu a.project_tech:before, .project_menu a.project_tech > .before { background-position: 0 -568px; }

.icon-tech_small { background-position: 0 -438px; }

.icon-title_arr { background-position: 0 -478px; }

/*---/sprite---*/

