{if !empty($zone.insert_before)}document.write('{$zone.insert_before}');{/if}
{if !empty($banner.insert_before)}document.write('{$banner.insert_before}');{/if}
{if $banner.type eq 'image'}document.write('<a {if $banner.is_blank}target="_blank"{/if} href="{$DOMAIN}/click/?zone={$zone.id}&banner={$banner.id}"><img src="{$banner.content}"></a>');{/if}
{if $banner.type eq 'swf'}
{literal}
if (typeof navigator.plugins['Shockwave Flash'] !== 'undefined') {
{/literal}
document.write('<embed align="top" width="{$banner.width}" height="{$banner.height}" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" loop="true" play="true" allowscriptaccess="always" swliveconnect="FALSE" quality="high" wmode="opaque" flashvars="{$banner.flashvars}" menu="false" src="{$banner.content}">');
{literal}
} else {
{/literal}
document.write('<a {if $banner.is_blank}target="_blank"{/if} href="{$DOMAIN}/click/?zone={$zone.id}&banner={$banner.id}"><img src="{$banner.flash_image}"></a>');{/if}
{literal}}{/literal}
{if $banner.type eq 'text'}er.is_blank}target="_blank"{/if} href="{$DOMAIN}/click/?zone={$zone.id}&banner={$banner.id}">{$banner.content}</a>{/if}
{if $banner.type eq 'popup'}{include file="blocks/popup.tpl"}{/if}
{if !empty($banner.insert_after)}document.write('{$banner.insert_after}');{/if}
{if !empty($zone.insert_after)}document.write('{$zone.insert_after}');{/if}

